.contacts {
  padding: 0 11.8rem;

  @include media("<=tablet") {
    padding: 0 4rem;
  }

  @include media("<phone") {
    padding: 0 2rem;
  }
}

.contacts__info {
}

.contacts__canvas {
  display: block;
  height: 34rem;
  position: absolute;
  top: 12.5rem;
  right: 36%;
  width: 44rem;

  @include media("<=tablet") {
    display: none;
  }
}

.contacts__info__title {
  @extend %title-100;

  margin-top: 21.5rem;

  @include media("<phone") {
    font-size: 4rem;
    white-space: nowrap;
  }
}

.contacts__info__label {
  font-size: 1.8rem;
  margin-top: 3rem;
  width: 50rem;

  @include media("<phone") {
    font-size: 1.5rem;
    margin-top: 2rem;
    width: 100%;
  }
}

.contacts__footer {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding-bottom: 6rem;
  margin-top: 10rem;

  & > .secondary__footer {
    padding: 0 0 3rem 11.8rem;
    overflow: hidden;
    width: 100%;

    @include media("<=tablet") {
      padding: 0 0 3rem;
    }

    .footer__information {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 4rem;

      grid-template-areas:
        "location media email"
        "logos logos sponsors";

      @include media("<=tablet") {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
      }

      @include media("<phone") {
        grid-template-areas:
          "location media"
          "email email"
          "logos logos"
          "sponsors sponsors";
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
      }

      & .footer__location {
        grid-area: location;
      }

      & .footer__socials {
        grid-area: media;

        @include media("<=tablet") {
          justify-self: start;
        }

        @include media("<phone") {
          justify-self: end;
        }
      }

      & .footer__email {
        grid-area: email;
      }

      & .footer__partners {
        grid-area: logos;
      }

      & .footer__sponsors {
        justify-self: start;
        grid-area: sponsors;
      }
    }

    .footer__marquee {
      @include media("<phone") {
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 4rem;
      }
    }
  }

  @include media("<=tablet") {
    flex-wrap: wrap;
    margin-top: 8rem;
    padding-bottom: 0;
  }

  @include media("<phone") {
    margin-top: 6rem;
  }
}

.contacts__footer__form {
  display: grid;
  grid-template-areas:
    "name email"
    "organization organization"
    "enquiry enquiry"
    "button button";
  row-gap: 2.2rem;

  @include media("<=tablet") {
    margin-bottom: 8.6rem;
  }

  @include media("<phone") {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
  }
}

br {
  @include media("<phone") {
    display: none;
  }
}

.contacts__footer__form__name {
  grid-area: name;
  margin-right: 2rem;

  @include media("<phone") {
    margin-right: 0;
  }
}

.contacts__footer__form__label {
}

.contacts__footer__form__email {
  grid-area: email;
}

.contacts__footer__form__organization {
  grid-area: organization;

  & input {
    width: 100%;
  }
}

.contacts__footer__form__enquiry {
  grid-area: enquiry;
}

.contacts__footer__form__input {
  border: 0.15rem solid $color-black;
  border-radius: 0.2rem;
  margin-top: 1rem;
  padding: 1.5rem 2.2rem;

  &::placeholder {
    font-family: $font-poppins;
    opacity: 0.7;
  }

  &[type="submit"] {
    background-color: $color-black;
    color: $color-white;
    cursor: pointer;
    font-family: $font-poppins;
    grid-area: button;
    margin-top: 0;
  }

  @include media("<phone") {
    width: 100%;
  }
}

.contacts__footer__form__textarea {
  border: 0.15rem solid $color-black;
  border-radius: 0.2rem;
  grid-area: enquiry;
  margin-top: 1rem;
  padding: 1.5rem 2.2rem;
  width: 100%;

  &::placeholder {
    font-family: $font-poppins;
    opacity: 0.7;
  }
}
