.about {
  @extend %center;

  height: 100vh;
  position: relative;

  @include media("<=tablet") {
    display: block;
  }
}

.about__title {
  @extend %title-100;

  font-weight: 500;
  line-height: 1.1;
  text-transform: uppercase;

  @include media("<=tablet") {
    padding: 25rem 4rem;
  }

  div {
    &:nth-child(2) {
      padding-left: 51rem;

      @include media("<=tablet") {
        padding-left: 0;
      }
    }

    &:nth-child(3) {
      color: $color-java;
      padding-left: 35rem;

      @include media("<=tablet") {
        padding-left: 0;
      }
    }
  }

  @include media("<phone") {
    font-size: 4rem;
    padding: 25rem 0 0 2rem;
    width: 100%;
  }
}

.about__arrow {
  bottom: 10.8rem;
  fill: $color-black;
  height: 3rem;
  position: absolute;
  right: 11.8rem;
  width: 3rem;

  @include media("<phone") {
    bottom: 5rem;
    right: 3rem;
  }
}

/* BACKGROUND */

.background {
  padding: 0 11.8rem 15rem;

  @include media("<=tablet") {
    padding: 0 4rem 8.6rem;
  }

  @include media("<phone") {
    padding: 0 2rem 8.6rem;
  }
}

.background__title {
  // align-items: center;
  display: flex;
  margin: 8.6rem 0;

  span {
    @extend %title-40;

    margin-right: 2rem;
    opacity: 0.3;

    @include media("<phone") {
      font-size: 2rem;
      font-weight: 500;
      margin-right: 1rem;
    }
  }

  @include media("<phone") {
    margin: 6rem 0;
    font-weight: 500;
  }
}

.background__label {
  @extend %title-40;

  font-family: $font-poppins;

  span {
    font-weight: 800;
  }

  @include media("<phone") {
    font-size: 1.8rem;
  }
}

/* SERVICES & REASONS */

.reasons {
  background-color: $color-black;
  padding: 15rem 11.8rem;

  @include media("<=tablet") {
    padding: 8.6rem 4rem;
  }

  @include media("<phone") {
    padding: 8.6rem 2rem;
  }
}

.reasons__title {
  color: $color-white;
  margin: 0 0 8.6rem;

  span {
    @extend %title-40;

    margin-right: 2rem;
    opacity: 0.3;
  }

  @include media("<phone") {
    margin: 0 0 6rem;
  }
}

.reasons__label {
  @extend %title-40;

  color: $color-white;
  font-family: $font-poppins;

  @include media("<=tablet") {
    font-weight: 400;
  }

  @include media("<phone") {
    font-size: 1.8rem;
  }
}

.reasons__grid {
  align-content: center;
  column-gap: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 4rem;
  margin-top: 12rem;

  @include media("<=tablet") {
    column-gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }

  @include media("<phone") {
    grid-template-columns: 1fr;
    margin-top: 6rem;
  }
}

.reasons__grid__item {
  border: 0.2rem solid $color-white;
  padding: 7.4rem 8.7rem;

  &:last-child {
    background-color: $color-white;

    & .reasons__grid__item__label {
      color: $color-black;
      font-weight: 500;
    }
  }

  @include media("<=tablet") {
    padding: 4rem 3rem;
  }

  @include media("<phone") {
    padding: 4rem 2rem;
  }
}

.reasons__grid__item__label {
  @extend %description-16;

  color: $color-white;
  text-align: center;
}


