.blog__header {
  padding: 26rem 11.8rem;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media("<=tablet") {
    padding: 18rem 4rem 8.6rem;
  }

  @include media("<phone") {
    padding: 18rem 2rem 10rem;
  }
}

.blog__header__arrow {
  height: 1.6rem;
  margin-bottom: 4.6rem;
  width: 2.5rem;
}

.blog__header__info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.blog__header__content {
  width: 108.4rem;

  @include media("<=tablet") {
    width: 100%;
  }
}

.blog__header__info__label {
  @extend %description-18;

  font-weight: 500;
  width: 9.4rem;
}

.blog__header__info__line {
  background-color: $color-black;
  display: block;
  height: 0.2rem;
  margin: 5.4rem 0;
  width: 100%;

  @include media("<phone") {
    margin: 2.6rem 0;
    height: 0.1rem;
  }
}

.blog__header__info__title {
  @extend %title-80;

  font-weight: 500;
  line-height: 1.2;

  @include media("<=tablet") {
    font-size: 4rem;
    margin-bottom: 5.6rem;
  }

  @include media("<phone") {
    font-size: 1.8rem;
    margin-bottom: 2.6rem;
  }
}

.blog__header__media {
  height: 28.9rem;
  position: relative;
  overflow: hidden;
  width: 48.5rem;

  &:hover .news__grid__item__media__image {
    transform: scale(1.05);
  }

  @include media("<=tablet") {
    height: 40.4rem;
    width: 100%;
  }

  @include media("<phone") {
    height: 21.9rem;
    width: 100%;
  }
}

.blog__header__media__image {
  @extend %cover;

  object-fit: cover;
  transition: all 0.4s ease;
}

.blog__content {
  display: grid;
  padding: 0 11.8rem 21.6rem;
  row-gap: 12rem;

  @include media("<=tablet") {
    padding: 0 4rem 8.6rem;
  }

  @include media("<phone") {
    padding: 0 2rem 8.6rem;
    row-gap: 8rem;
  }
}

.blog__content__post {
  width: 114rem;

  @include media("<=tablet") {
    width: 100%;
  }
}

.blog__content__line {
  background-color: $color-java;
  display: block;
  height: 0.3rem;
  margin: 0 0 2rem;
  width: 6.6rem;

  @include media("<phone") {
    height: 0.2rem;
    margin: 0 0 1.6rem;
    width: 3.8rem;
  }
}

.blog__content__subheader {
  @extend %title-40;

  font-weight: 500;
  margin-bottom: 3rem;

  @include media("<phone") {
    font-size: 1.8rem;
    margin-bottom: 2.6rem;
  }
}

.blog__content__label {
  @extend %description-18;

  font-family: $font-poppins;

  @include media("<phone") {
    font-size: 1.6rem;
  }
}
