$color-black: #000000;
$color-alabaster: #f8f8f8;
$color-white: #ffffff;
$color-java: #12c0c0;

$font-clash-display: "Clash Display";
$font-poppins: "Poppins";

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  "noscript",
  "preloader",
  "navigation",
  "noise",
  "content",
  "canvas"
);
