*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100%;

  @include media("<=tablet") {
    font-size: 10px;
  }
}

body {
  @extend %description-16;

  @include media("<=desktop") {
    font-size: 15px;
  }

  @include media("<phone") {
    font-size: 15px;
  }

  background-color: $color-alabaster;
  color: $color-black;
  font-family: $font-poppins;
  line-height: 1.5;
  height: 100%;
  overflow-x: hidden;
  touch-action: pan-y;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.content {
  height: 100%;
}

[data-animation="paragraph"],
[data-animation="title"],
[data-animation="navigation"] {
  div {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}

.curtain__wrapper {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.curtain__item {
  background-color: $color-black;
  // height: calc(100% / 3);
  height: 100%;
  transform-origin: center right;
  transform: scaleX(0);
  width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
