/* FONT POPPINS */
// @font-face {
//   font-family: $font-poppins;
//   src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

/* FONT SUPREME */
@font-face {
  font-family: $font-clash-display;
  src: url("../fonts/clashDisplay-regular.woff2") format("woff2"),
    url("../fonts/clashDisplay-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-clash-display;
  src: url("../fonts/clashDisplay-medium.woff2") format("woff2"),
    url("../fonts/clashDisplay-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
