.servicess {
  padding: 0 11.8rem;

  @include media("<=tablet") {
    padding: 0 4rem;
  }

  @include media("<phone") {
    padding: 0 2rem;
  }
}

.servicess__title {
  @extend %title-100;

  margin-top: 21.5rem;

  @include media("<phone") {
    font-size: 4rem;
    white-space: nowrap;
  }
}

.servicess__categories {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 8.6rem;
  margin-top: 5rem;

  @include media("<=tablet") {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
}

.servicess__categories__box {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;

  &:first-child .servicess__categories__label {
    color: $color-java;
  }

  &:not(.category--activated) .servicess__categories__label__arrow {
    visibility: hidden;
  }

  &:nth-child(2),
  &:nth-child(3) {
    
    align-items: flex-start;

    .servicess__categories__label__arrow {
      margin-top: 2rem;
    }
  }

  @include media("<=tablet") {
    flex-direction: row;
  }
}

.servicess__categories__label {
  // &:first-child {
  //   color: $color-java;
  // }

  cursor: pointer;
  font-size: 3rem;
  font-weight: 500;
  white-space: nowrap;

  &.category--activated {
    color: $color-java;
  }

  &.category--activated .servicess__categories__label__arrow {
    visibility: hidden;
  }
}

.servicess__categories__label__arrow {
  margin-bottom: 2rem;
  margin-left: 2rem;
  width: 0; 
  height: 0; 
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid $color-black;

  @include media("<=tablet") {
    margin-bottom: 0;
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-top: 0.6rem solid $color-black;
    margin-left: 1.5rem;
  }
}

.servicess__line {
  display: block;
  background-color: $color-black;
  width: 100%;
  height: 0.1rem;
  margin: 5rem 0;
}

.servicess__button {
  position: fixed;
  right: 5%;
  bottom: 10%;
  background-color: $color-black;
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.categories {
  padding: 6rem 11.8rem 0;

  @include media("<=tablet") {
    padding: 0 4rem;
  }

  @include media("<phone") {
    padding: 0 2rem;
  }
}

.categories__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 4rem;

  @include media("<=tablet") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media("<phone") {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid {
  display: none;
}

.active--grid {
  display: block;
}

.categories__grid__card {
  &:first-child {
    border: none;
    background-color: transparent;
  }

  &:first-child .categories__grid__header {
    font-size: 2.4rem;
    color: $color-java;
    font-weight: 500;
  }

  &:first-child .categories__grid__label {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: inherit;
    -webkit-box-orient: vertical;
  }

  // border: 0.1rem solid $color-black;
  background-color: $color-white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26rem;
  padding: 3rem 2.4rem;
  transition: all 0.4s ease;

  &:hover {
    background-color: #f0f0f0;
  }

  @include media("<=tablet") {
    height: auto;
  }
}

.categories__grid__header {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.categories__grid__label {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.categories__grid__button {
  color: $color-java;
  margin-top: 2rem;
  font-weight: 500;
  transition: all 0.4s ease;

  &:hover {
    transform: translateX(1.5%);
  }

  @include media("<=tablet") {
  }
}

/* ------------------ */

.service {
  padding: 0 11.8rem;

  @include media("<=tablet") {
    padding: 0 4rem;
  }

  @include media("<phone") {
    padding: 0 2rem;
  }
}

.service__title {
  @extend %title-100;

  margin-top: 21.5rem;

  @include media("<phone") {
    font-size: 4rem;
  }
}

.service__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 8rem;
  margin-top: 10rem;

  @include media("<phone") {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
  }
}

.service__info__question {
  color: $color-java;
  font-size: 2.4rem;
}

.service__info__answer {
  font-weight: 500;
  font-size: 1.8rem;
}
